/* Jamie Luckett 16407112 */
body {
<<<<<<< HEAD
   margin: 0;
=======
   margin: 0px;
>>>>>>> 1945c3991b86c01d948d88c8b40a4b2d946cea16 /*Accidentally deleted and the css on github was an old version and replacement from the recycle bin changed some of the lines */
}

.toolbar-item {
  font-family: 'Montserrat', 'sans-serif';
  border: 5px;
  font-size: 30px
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.toolbar-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
<<<<<<< HEAD
  padding: 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

.footer-item {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 15px;
}

.copyright {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 15px;
}

@media (max-width: 425px) {
  .toolbar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }
=======
  padding: 0px;
>>>>>>> 1945c3991b86c01d948d88c8b40a4b2d946cea16
}

header {
    background-color: rgb(200, 200, 200);
    border: solid rgb(0, 0, 0) 10px;
}

footer {
    display: flex;
    background-color: rgb(200, 200, 200);
    border: solid rgb(0, 0, 0) 10px;
    padding: 0;
}

.home-title {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.contact-title {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.bio-title {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.cv-title {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.home-content {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%

}

.profile-image-container {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
}

.profile-image-title {
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.profile-image {
  display: flex;
  transform: rotate(90deg);
  justify-content: center;
  height: 150px;
  width: 150px;
  margin-left: 50%;
  margin-right: 50%;
<<<<<<< HEAD
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid rgba(230, 230, 230, 0.8);
}

.name-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.email-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.subject-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.content-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.reply-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.cv-intro {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-education-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-coursework-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-experience-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-skills-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-activities-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-education-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-coursework-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-experience-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-skills-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-activities-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}
=======
  border: 5px solid rgba(230, 230, 230, 0.8);
}
>>>>>>> 1945c3991b86c01d948d88c8b40a4b2d946cea16
