/* Jamie Luckett 16407112 */
body {
<<<<<<< HEAD
   margin: 0;
=======
   margin: 0px;
>>>>>>> 1945c3991b86c01d948d88c8b40a4b2d946cea16 /*Accidentally deleted and the css on github was an old version and replacement from the recycle bin changed some of the lines */
}

.toolbar-item { /*This is what changes the font of each of the items in the header*/
  font-family: 'Montserrat', 'sans-serif';
  border: 5px;
  font-size: 30px
}

p {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

a { /*This is what changes the design and colour of the links on the screen*/
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.toolbar-list{ /*This is what changes the listing order and orientation to make the toolbar horizontal and with no list style*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
<<<<<<< HEAD
  padding: 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

.footer-item { /*This is what changes the font of each of the items in the footer*/
  font-family: 'Montserrat', 'sans-serif';
  font-size: 15px;
}

.copyright {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 15px;
}

@media (max-width: 425px) { /*This is a media query which changes the layout of the toolbar from horizontal to vertical when viewed on a phone*/
  .toolbar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }
=======
  padding: 0px;
>>>>>>> 1945c3991b86c01d948d88c8b40a4b2d946cea16
}

header { /*This is what changes the design of the header to a grey background with a black border*/
    background-color: rgb(200, 200, 200);
    border: solid rgb(0, 0, 0) 10px;
}

footer { /*This is what changes the design of the footer to a grey background with a black border*/
    display: flex;
    background-color: rgb(200, 200, 200);
    border: solid rgb(0, 0, 0) 10px;
    padding: 0;
}

.home-title {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.contact-title {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.bio-title {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.cv-title { /*Each of the title classes changes the font, size and positioning of the title of each page*/
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.home-content { /*This changes the font and the location of the text on the page*/
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%

}

.profile-image-container {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
}

.profile-image-title { /*This is what changes the font and positioning of the title underneath the profile picture*/
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.profile-image { /*This is what moves the picture to the middle of the web page and adds a border around it to simulate it floating above the page*/
  display: flex;
  transform: rotate(90deg);
  justify-content: center;
  height: 150px;
  width: 150px;
  margin-left: 50%;
  margin-right: 50%;
<<<<<<< HEAD
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid rgba(230, 230, 230, 0.8);
}

.name-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.email-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.subject-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.content-label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.reply-label { /*Each of the label classes changes the font and size of the text which goes before each of the input boxes on the contact page*/
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.cv-education-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-coursework-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-experience-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-skills-title {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-activities-title { /*Each of the title classes for the cv page changes the font size and type, and the positioning of each of the titles*/
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-intro {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}

.cv-education-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-coursework-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-experience-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-skills-text {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.cv-activities-text { /*Each of the text classes (and the intro) for the cv page changes the font size and type, and the positioning of the text*/
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 15px;
}

.bio-subtitle {
  display: flex;
  font-family: 'Montserrat', 'sans-serif';
  justify-content: flex-start;
  margin-right: 50%;
  font-size: 25px;
}
=======
  border: 5px solid rgba(230, 230, 230, 0.8);
}
>>>>>>> 1945c3991b86c01d948d88c8b40a4b2d946cea16
